CONFIG_PREEMPT_RT=y

# disable SCHED_MC
# CONFIG_MCPM is not set

# Disable CPUFREQ and CPUIDLE
# CONFIG_CPU_FREQ is not set
# CONFIG_CPU_IDLE is not set

# Force to have HIGH_RES_TIMERS
CONFIG_HIGH_RES_TIMERS=y

# force do not go to sleep
# For multiple core, you should set the specific boot options
# for isolate the core and render it tickless: "isolcpus=2,3 nohz_full=2,3"
# Warning: to active only if SMP are present
# CONFIG_HZ_PERIODIC=y

# to Enable ftrace, you need to enable the following configuraiton:
# CONFIG_FTRACE=y
# CONFIG_IRQSOFF_TRACER=y
# CONFIG_PREEMPT_TRACER=y
# CONFIG_SCHED_TRACER=y
# CONFIG_FUNCTION_TRACER=y
# By default, the ftrace for RT kernel are disabled
# CONFIG_FTRACE is not set
# CONFIG_IRQSOFF_TRACER is not set
# CONFIG_PREEMPT_TRACER is not set
# CONFIG_SCHED_TRACER is not set
# CONFIG_FUNCTION_TRACER is not set

