# ---------------------------
# use specific devicetree
#
CONFIG_DEFAULT_DEVICE_TREE="stm32mp157c-dk2"
# ---------------------------
# force a default cmdline
#
CONFIG_USE_BOOTARGS=y
CONFIG_BOOTARGS="console=ttySTM0,115200 rootwait root=PARTLABEL=rootfs"
# ---------------------------
# add EFI config
#
CONFIG_EFI_SET_TIME=y
#CONFIG_EFI_LOAD_FILE2_INITRD=y
#CONFIG_EFI_INITRD_FILESPEC="mmc 0:7 ledge-initramfs.rootfs.cpio.gz"
CONFIG_FIT_SIGNATURE=y
CONFIG_LEGACY_IMAGE_FORMAT=y
CONFIG_EFI_SECURE_BOOT=y
